body { color:#7d7d7d; border-color:#262626; }

a, a.active, li a.active,
.team-member-title, .team-member-description-title,
#site-name a,
.breadcrumb a, .submitted a, .field-type-taxonomy-term-reference .field-items .field-item a, ul.links li a, .more-link a, 
.view-tags-cloud .more-link a, .view-tags-cloud .views-field-nid, .team-member-email a { color:#181818; }

.poll .bar .foreground { background-color:#181818; }

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.view-tags-cloud a { color:#262626; }

a:hover,
#site-name a:hover,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
.view-tags-cloud a:hover,
.breadcrumb a:hover, .submitted a:hover, .field-type-taxonomy-term-reference .field-items .field-item a:hover, ul.links li a:hover, .more-link a:hover, 
.team-member-email a:hover { color:#555555; }

.view-galleries .gallery-links a, .view-galleries .gallery-links a:hover  { color:#ffffff; text-decoration:underline; }

p a { text-decoration: underline; }

p a:active, p a:focus { background-color:#181818; border:0; color:#7d7d7d;
-webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none; transition: none; }

/**
* Logo - Site name/slogan.
*/
#site-slogan { color:#555555; }

/*
* Twitter updates.
*/
#footer .twtr-widget .twtr-tweet a { color:#181818!important; }

.twtr-widget { border-color: #8e9193!important; }

.block-mtt-twitter h2 { background: url('images/darkgray/twitter-title-bg.png') no-repeat right; }

/**
* Social media.
*/
ul.social-bookmarks li a { opacity:0.8; filter:alpha(opacity=80); /* For IE8 and earlier */ }

ul.social-bookmarks li a:hover { opacity:1; filter:alpha(opacity=100); /* For IE8 and earlier */ }

ul.social-bookmarks li.facebook a { background:url('images/darkgray/social-media-facebook.png') no-repeat center bottom; }

ul.social-bookmarks li.linkedin a { background:url('images/darkgray/social-media-linkedin.png') no-repeat center bottom; }

ul.social-bookmarks li.twitter a { background:url('images/darkgray/social-media-twitter.png') no-repeat center bottom; }

ul.social-bookmarks li.flickr a { background:url('images/darkgray/social-media-flickr.png') no-repeat center bottom; }

ul.social-bookmarks li.youtube a { background:url('images/darkgray/social-media-youtube.png') no-repeat center bottom; }

/**
* Main menu.
*/
#main-navigation ul.menu li a.active, #main-navigation ul.menu li a:hover { background:#262626; color:#ffffff; }

@media all and (max-width: 480px) {
#main-navigation ul.menu li a { color:#7d7d7d; }
#main-navigation ul.menu li a.active, #main-navigation ul.menu li a:hover { background:none; color:#181818; }
}

/**
* Superfish menu support.
*/
#main-navigation .block-superfish ul li a:hover, #main-navigation .block-superfish ul li a.active,
#main-navigation .block-superfish ul li.sfHover a { background:#262626; }

#main-navigation .block-superfish ul li a:hover span.sf-description, #main-navigation .block-superfish ul li a.active span.sf-description,
#main-navigation .block-superfish ul li.sfHover a span.sf-description { color:#ffffff; }

#main-navigation .block-superfish ul ul li { background:#262626; }

#main-navigation .block-superfish ul ul li:hover { background:#000000; }

#main-navigation .block-superfish ul ul li a { color: #ffffff !important; }

/**
* Forms.
*/
label { color:#181818; }

/**
* Input [submit]-[reset]-[button].
*/
input[type="submit"], input[type="reset"], input[type="button"] { background: #262626; }

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover { background: #000000; }

/**
* About.
*/
.team-member-email a { background: url("images/darkgray/team-email.png") no-repeat scroll left center transparent; }

/**
* Scroll to top.
*/
#toTop { background:transparent url("images/darkgray/backtotop-arrow.png") no-repeat; opacity:0.7; filter:alpha(opacity=70); }

#toTop:hover { opacity:1; filter:alpha(opacity=100); }

/**
* Tables.
*/
table, td { border: 1px solid #262626; }

table th { background:#262626; border: 1px solid #262626; color:#ffffff; }