//
// Layout
// Styles for main layout
// --------------------------------------------------

$red: #7e0000;
$lightgrey: #999999;
$darkgrey: #333333;
$grey: #494949;

body {
	color: $grey;
	font-family: 'proxima-nova', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
	width: 100% !important;
}

#main-wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 960px !important;
}