//
// Structure
// Styles for Tabs, Messages, ..etc
// --------------------------------------------------

/*
div.region.region-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
*/

#footer-contact {
	font-size: 0.8em;
	text-transform: uppercase;
	border-right: 3px solid #ec9e4b;
	padding-left: 10px; 
	padding-right: 10px; 
	text-align: right;
	float: right;
}

#ucla-footer {
	max-width: 100%;
	
	margin: 0 auto;
	margin-top: 10px;
	color: white;
	background: #09111e;
	font-family: 'proxima-nova', sans-serif;
}

#ucla-footer a {
	color: #fff;
	text-decoration: none;
}

#ucla-footer a:hover {
	color: #ec9e4b;
}

#footer-1-wrapper {
	max-width:1200px;
	margin: 0 auto;
	padding-left: 18px;
	padding-right: 25px;
		padding-top: 10px;
}
	
#footer-1 {
	min-height: 85px;
	max-width: auto;
	color: #fff;
	background: transparent;
	font-size: 1em !important;
	.span3 {
		margin-left: 0px;
	}
}
	
	#ucla-footer h2 { font-size: 1em; font-weight: 300; }

	
	#footer-1 ul {
		overflow: hidden;
	}
	
	#footer-1 li {
		font-weight: 300;
		padding-bottom: 5px;
		display: block !important;
	}
	
	#ucla-footer h2 {
		line-height: 16px;
	}
	
	#ucla-footer strong {
	 font-size: 0.9em; margin: 0; margin-top: -20px; padding: 0; line-height: 1.125em; font-weight: 600; letter-spacing:.1em; text-rendering: auto !important; text-transform: uppercase;
	}
	
	#ucla-footer strong:hover {
		color: #ec9e4b;
	}

#footer-2-wrapper {
	background: #09111e;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (max-width: 1240px) {
	#footer-2-wrapper {
		margin-left: 17px;
	}
}

#footer-2 {
	max-width: 1200px;
	height:auto;
	text-align: left;
	margin: 0 auto;
	color: #999;
}
#footer-2 ul { text-align: left; margin-left: 0; }
#footer-2 li {width:auto; zoom:1; font-weight: 400; list-style: none; color: #d28e42; display: inline-block; text-transform: uppercase; font-size:0.9em; padding-right: 10px; a { color: #ec9e4b; font-weight: 600; }}