/* content pages */
div.pane-content {
	div.field {
		div.field-items {
			p {
				img {
					margin: 10px;
					border: 3px solid #fff;
					-webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
				  	-moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
				  	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
				}
				font-size: 1.1em;
				line-height: 1.5em;
			}
		}
	}
}


div.view.view-faculty-profile.view-id-faculty_profile.view-display-id-block  {
	max-width: 80%;
	overflow: auto;
	margin: 0 auto;
	background: #fff;
	font-family: 'proxima-nova';
	padding-bottom: 10px;
	margin-bottom: 25px;
	position: relative;
	z-index: 1001;
	*zoom: 1;
	a {
		color: #666;
	}
	
	strong {
		text-transform: uppercase;
		font-size: 1.1em;
	}
	
	h1 { background: #ede9e7; font-family: 'proxima-nova-alt-condensed'; margin: 0; padding: 0; padding-left: 10px; padding-top: 10px; font-size: 2.5em; font-weight: 400; letter-spacing: 0; a { color: #7e705a; }}
	h2 { background: #ede9e7; font-size: 1.325em; margin: 0; margin-top: -20px; padding-bottom: 10px; padding-left: 10px; line-height: 1.125em; font-weight: 700; text-rendering: auto !important;}
	h3 { font-family: 'proxima-nova-alt-condensed'; font-size: 20px; line-height: 1.5em; text-transform: uppercase; text-align: center; margin-top: 10px; padding: 0; font-weight: 400; color: #999;}
	
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);


}

h2.pane-title.ctools-collapsible-handle {
	font-family: 'proxima-nova-alt-condensed';
	color: #7e705a;
	font-weight: 400;
}

#edit-submit-faculty-profile {
	margin-top: 0;
}

/* section of faculty directory, split by filter */
.view-id-faculty_profile.view-display-id-panel_pane_1 {
	-webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  	-moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
	
	.item-list {
		border-bottom: 20px solid #999;
		margin-top: -10px;
		background: #fff;
		}
	ul {
		margin-bottom: 0;
	}
	.views-row {
		margin-left: 0;
	}
	
	h3 {
		text-align: center;
		font-size: 1.2em;
		padding: 10px;
	}
	
	.view-filters { 
		margin-top: -65px;
		margin-right: 10px;
		float: right;
		
		.views-exposed-widget.views-submit-button {
			padding: 0.5em 0 0 0;
		}}
}


#faculty-directory-wrapper {
	width: 100%;
	overflow: auto;
	padding-bottom: 10px;
	font-family: 'proxima-nova';


	*zoom: 1;
	a {
		color: #666;
	}
	
	strong {
		text-transform: uppercase;
		font-size: 1.1em;
	}
	
	h1 { font-family: 'proxima-nova'; margin: 0; padding: 0; padding-left: 10px; font-size: 1.6em; font-weight: 500; letter-spacing: 0%;}
	h2 { text-transform: none; font-size: 1em; margin: 0; margin-top: -20px; padding: 0; padding-left: 10px; line-height: .8em;}
	h3 { font-family: 'proxima-nova'; font-size: 1.1em; line-height: 1.5em; text-transform: uppercase; text-align: center; margin-top: 10px; padding: 0; font-weight: 400; color: #999;}
	
	.faculty_photo {
		img {
			max-width: 150px;
		}
		padding-bottom: 10px;
	}
	
}


.pane-faculty-profile-panel-pane-1 {
	max-width: 80%;
	margin: 0 auto;
	.views-row-odd {
		background: #ede9e6;
	}
	.views-row-even {
		background: #fff;
	}
	
	#edit-field-faculty-title-tid {
		margin-left: 10px;
	}
	
	div.view-header {
		div.faculty-view-options {
			text-align: left;
			width: 100%;
			a {
				text-transform: uppercase;
				text-decoration: none;
				font-weight: 600;
			}
		}
	}
}

.faculty-container, .faculty-directory-container {
	background: #f5f5f5;
}
.faculty-content {
	float: left;
	padding-left: 10px;
	min-height: 250px;
	.faculty_photo 
	 { margin-bottom: 15px; 
		img { width:200px; border: 1px solid #999; }
	}
	a { color: #333; text-transform: uppercase; text-decoration: none; }
	
	.field_website a {
		color: #333;
		text-transform: uppercase;
		background: url('http://dev.commstds.ucla.edu/sites/all/themes/radix_divisional/images/website_icon.png');
		background-repeat: no-repeat;
		padding-left: 20px;
		padding-bottom: 2px;
	}
	
	.field_cv a {
		background: url('http://dev.commstds.ucla.edu/sites/all/themes/radix_divisional/images/download_icon.png');
		background-repeat: no-repeat;
		padding-left: 20px;
		padding-bottom: 2px;
	}
	
	
}

.faculty-middle-col {
	font-size: 15px;
	p {
		padding-right: 15px;
	}
	.faculty_summary {
		font-weight: 300;
		font-family: 'proxima-nova-alt-condensed';
		font-style: normal;
		font-size: 30px;
		line-height: 38px;
	}
	a { text-transform: none; }
	width: 100%;
}

.faculty-directory-middle-col {
	width: 40%;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	h2, h3 {
		text-align: left !important;
		padding-left: 0px !important;
	}
	
	h2 {
		font-size: 1.2em !important;
		font-family: 'proxima-nova';
		margin-bottom: 5px !important;
		margin-top: 0px !important;
	}
}

.faculty-directory-content {
	width: 100%;
}

.faculty-directory-profile {
	width: 150px;
	float: left;
	margin-left: 10px;
	img {
		border: 1px solid #999;
	}
}

.faculty-sidebar {
	float: right;
	width: 200px;
	font-size: 0.85em;
	margin-bottom: 10px;
	margin-left: 20px;
	background: white;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	padding: 0 10px;
	padding-bottom: 20px;
	margin-right: 20px;
	word-wrap: break-word;
	
	h3 {
		margin-bottom: 0px !important;
	}
	.faculty-email {
		text-transform: lowercase;
		a {
			text-transform: lowercase;
		}
	}
}

@media (max-width: 960px) {
	.pane-faculty-profile-panel-pane-1 {
		max-width: 99%;
	}
	.faculty-directory-middle-col {
		width: 35%;
	}
	
	div.view.view-faculty-profile.view-id-faculty_profile.view-display-id-block {
		max-width: 99%;
	}
}

input#edit-title.form-text.form-autocomplete {
	background-image: none;
}

/* ipad portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
.faculty-directory-middle-col {
	width: 35%;
}
.pane-faculty-profile-panel-pane-1 {
	max-width: 99%;
}
.news-header {
	text-align: left;
}
}


.faculty-profile {
	width: 200px;
	float: left;
	padding-right: 20px;
	margin-bottom: 15px;
}

.faculty_hidden {
	display: none;
}

.pane-node-field-publications { 
	padding: 0 50px; 
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	font-family: 'proxima-nova';
	color: #333; 
	a { 
		color: #333; 
		font-family: 'proxima-nova';
		text-decoration: none; 
		}
	.pane-title {
		font-family: 'proxima-nova';
		font-weight: bold;
		text-transform: uppercase;
	}
	h4 {
		font-family: 'proxima-nova'; margin: 0; padding: 0; padding-left: 0; font-size: 1.6em; font-weight: bold; letter-spacing: 0; color: #7e705a; 
	}
}

@media (max-width: 960px) {
	
}
.view-grouping {
	width: 23%;
	height: 175px;
	overflow-y: auto;
	margin: 10px;
	float: left;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) ;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) ;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) ;
	min-height: 175px;

	.view-grouping-header {
		font-family: 'proxima-nova';
		font-weight: 400;
		font-size: 0.9em;
		text-transform: uppercase;
		text-align: center;
		background: #ede9e7;
		padding: 0 5px;
		span {
			font-weight: 600;
			font-size: 1.5em;
			color: #333;
		}
		
	}
	
	.view-grouping-content {
		.item-list {
			h3 {
				font-size: 1em !important;
				font-weight: 600 !important;
				margin-right: 10px;
			}
		}
	}
}


	
/*events */

div.view.view-events.view-id-events.view-display-id-block_3, #events-view {
	position: relative;
	max-width: 80%;
	margin: 0 auto;
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  	-moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
	z-index: 1001;
	background: #fff;
	/*h3 {
		background: #999;
		margin-bottom: 4px !important;
	}*/
	
	.views-row-odd {
		background: #ede9e6 !important;
	}

	
	.view-header > h2 {
		text-align: left;
		text-transform: uppercase;
		font-size: 1.25em;
		line-height: 1em;
	}
	

}

h3 {
	padding-left: 10px;
	font-size: 1.2em;

	
	text-transform: uppercase;

	letter-spacing: 0em;
	margin-bottom: 0px;
	line-height: 1.5em !important;

	.date-display-single {
		font-family: 'proxima-nova';
		font-weight: 300;
		padding-top: 3px;
	}
}

.events-item {
	margin: 0 auto;
	width: 100%;
	padding: 10px;
	overflow: auto;
	a {
		text-decoration: none !important;
		color: #000;
	}
	.events-item-left {
		float: left;
		width: 65%;
			img {
				float: left;
				max-width: 100px;
				margin-right: 10px;
				border: 1px solid #999;
			}
	}
	
	.events-item-right {
		float: right;
		font-family: 'proxima-nova' !important;
		width: 25%;
		margin-right: 25px;
		background: #fff;
		font-size: 0.9em;
		padding: 10px;
		word-wrap: break-word;
		p {
			margin-bottom: 0;}
	}
	
	.centered-shadow {
		position: relative;
		-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) ;
		-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) ;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) ;
	}

	.centered-shadow:before, .centered-shadow:after {
		content:"";
		position: absolute;
		z-index: -1;
		-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.8);
		-mox-box-shadow: 0 0 15px rgba(0,0,0,0.8);
		box-shadow: 0 0 15px rgba(0,0,0,0.8);
		top: 50%;
		bottom: 0;
		left: 50px;
		right: 50px;
		-moz-border-radius: 100px / 10px;
		border-radius: 100px / 10px;
	}

	.centered-shadow:after {
		right: 10px;
		left: auto;
		-webkit-transform:skew(8deg) rotate(3deg);
		-moz-transform:skew(8deg) rotate(3deg);
		-ms-transform:skew(8deg) rotate(3deg);
		-o-transform: skew(8deg) rotate(3deg);
		transform:skew(8deg) rotate(3deg);
	}
	
	.events-date {
		text-transform: uppercase;
		font-weight: 800;
		color: black;
		font-family: 'proxima-nova' !important;
		font-size: 1.3em;
		letter-spacing: 0em;
	}
	
	.events-time {
		text-transform: uppercase;
		font-family: 'proxima-nova' !important;
		font-weight: 300;
		font-size: .9em;
		line-height: 2em;
	}
	
	.events-sidebar-title {
		font-weight: bold;
		text-transform: uppercase;
	}
	
	.events-subtitle {
		font-size: 1.3em;
		font-weight: 500;
		line-height: 1.5em;
		margin-bottom: -10px;
	}
	
	.events-title {
		font-size: 1.6em;
		letter-spacing: 0em;
		line-height: 1em;
		a { color: black; }
	}
	
	p { 
		font-family: 'proxima-nova';
		 font-size: 1em;
		margin-top: 0px;
	
		}
}	


@media (max-width: 979px) {
	#events-view {
		max-width: 99%;
	}
}

/* EVENTS SINGLE */

div.view.view-events.view-id-events.view-display-id-block_1 {
	position: relative;
	max-width: 80%;
	margin: 0px auto;
	font-family: 'proxima-nova';
	font-size: 1em;
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	z-index: 1001;

}

@media (max-width: 979px) {
	div.view.view-events.view-id-events.view-display-id-block_1 {
		max-width: 90%;
	}
}
.event-single-header {
	width: 100%;
	margin: 0 auto;
	height: auto;
	background: #f5f3f1;
	
	h3 { 
		text-transform: none;
		font-family: 'proxima-nova';
		font-size: 2.3em;
		letter-spacing: 0.05em;
		font-weight: 600;
		a {
		color: #7e705a;}
		 }
}

.event-single-content {
	width: 105%;
	height: auto;
	margin: 0 auto;
	overflow: auto;
	margin-left: -20px;
	padding-top: 10px;
	padding-bottom: 10px;
	.span3 {
		padding: 0 10px;
	}
	background: #fff;
		-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) ;
		-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) ;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) ;
	
	strong { text-transform: uppercase; }
	.col1, .col2, .col3, .col4 {
		width: 175px;
		float: left;
		padding-right: 10px;
		}
		
		/*.col2 {
			line-height: 0.9em;
		}*/
	
	.col1 {
		text-transform: uppercase;
		margin-left: 25px;
		padding-right: 10px;
	}
	.title {
		font-weight: bold;
	}
	
	.ical {
		margin-top: 10px;
	}
	.ical a {
		margin-top: 5px;
		text-transform: uppercase;
		color: #000;
		font-weight: 600;
		font-size: 0.9em;
	}

}



.event-single-description {
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: -1;
	background: #f5f3f1;

	p {
		padding: 10px;
		padding-right: 30px;
		font-size: 1.1em;
		margin-bottom: 0px;
	}
	overflow: auto;
	
	img {
		float: left;
		padding: 10px;
		padding-right: 25px;
		max-width: 250px;
	}
}

.event-single-details {
	width: 100%;
	position: relative;
	background: #999999;
	color: #fff;
	min-height: 20px;


	p {
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

/*NEWS */

div.view.view-news.view-id-news.view-display-id-block_1 {
	max-width: 750px;
	margin: 0 auto;
		-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	  	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	  	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}



.news-wrapper {
	max-width: 750px;
	margin: 0 auto;

	.clear {
		clear: both;
	}
}



.view-header {
	text-align: center;
	padding: 10px;
	background: #fff;
	border-bottom: 20px solid #999;
	
	h3 {
		font-size: 1em;
	}
}

.news-header {
	font-size: 24px;
	color: #999;
	text-transform: uppercase;
	text-align: center;
}

.views-row-odd {

	.news-item {
	background: #f5f3f1;
	overflow: auto;
	max-width: 750px;
	margin: 0 auto;
	border-top: 5px solid white;
	}
}

.views-row-even {

	.news-item {
	background: #fff;
	overflow: auto;
	max-width: 750px;
	margin: 0 auto;
	

}
}


.news-left {
	width: 50%;
	float: left;
	padding: 20px;
	.date {
		font-weight: 600;
		font-size: 14px;
		text-transform: uppercase;
	}
	
	.title {
		font-size: 1.8em;
		font-family: 'proxima-nova-alt-condensed';
		font-weight: 600;
		line-height: 1em;
		a {
			color: black;
		}
	}
	
	.body {
		font-size: 15px;
		margin-top: 5px;
		a {
			text-decoration: none;
			color: #000;
		}
		p { font-weight: 600 !important; margin-top: 10px;}

	}
}

.news-right {
	width: 35%;
	padding: 20px;
	float: right;
	img {
		border: 3px solid white;
		-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	  	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	  	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	max-width: 250px;
	}
}

@media (max-width: 780px) {
	.news-left {
		width: 90%;
		float: left;
				margin-right: 20px;
	}
	.news-right {
		width: 90%;
		clear: both;
		float: left;
	}
}

/* SINGLE NEWS ITEM */


/*faculty list view */
div.view.view-faculty-profile.view-id-faculty_profile.view-display-id-panel_pane_2 {
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	max-width: 80%;
	background: #fff;
	margin: 0 auto;
	
	.views-row-odd {
		background: rgba(183,183,183,0.5);
	}
	
	.item-list ul li {
		margin: 0;
	}
	
	#edit-title-wrapper {
		margin-left: 10px;
	}
	
	form {
		margin-bottom: 0;
	}
	
	div.view-header {
		div.faculty-view-options {
			text-align: left;
			width: 100%;
			a {
				text-transform: uppercase;
				text-decoration: none;
				font-weight: 600;
			}
		}
	}
	.view-filters { 
		margin-top: -65px;
		margin-right: 10px;
		float: right;
		
		.views-exposed-widget.views-submit-button {
			padding: 0.5em 0 0 0;
		}}
}

@media (max-width: 979px) {
	div.view.view-faculty-profile.view-id-faculty_profile.view-display-id-panel_pane_2 {
		max-width: 99%;
		
	/*	div.view-header {
			height:60px;
		}*/
	/*	.view-filters { 
			margin-top: 0px;
			margin-right: 0px;
			float: none;
		
			.views-exposed-widget.views-submit-button {
				padding: 0.5em 0 0 0;
			}}*/
	}
}

div.clear {
	clear: both;
}

div.faculty-list-row {
	width: 100%;
	padding: 0px 0;
	
	.faculty-list-row-title {
		float: left;
		margin-right: 10px;
		padding-left: 10px;
		a {
			color: #4d4d4d;
			font-weight: 600;
			font-size: 1.1em;
		}
	}
	
	.faculty-list-row-email {
		float: left;
		margin-left: 15px;
		text-transform: lowercase;
		font-size: 0.9em;
	}
	

}


